<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/CSS.css}" />

    <title>Contact</title>
    <div class="navbar-fixed">
        <nav>
            <div class="container">
                <h1>Willow Real Estate Agency</h1>
                <h3>Contact us</h3>
                 <ul>
                    <li><a th:href="@{/}">Home</a></li>
                    <li><a th:href="@{/properties}">Properties</a></li>
                    <li class="active"><a th:href="@{/contact}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</head>
<body>

</body>
</html>