<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/CSS.css}" />

    <title>PROPERTIES</title>
</head>
<body>

<nav>
    <div class="container">
        <a th:href="@{/}">HOME</a>
        <!-- <a href="#" data-activates="mobile-nav" class="button-collapse right"><i class="material-icons">menu</i></a> -->
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li class="active"><a th:href="@{/properties}">Properties</a></li>
            <li><a th:href="@{/contact}">Contact</a></li>
        </ul>
    </div>
</nav>
</div>

<div class="properties container">
    <!--
        In the div element, replace the 'category name' text
        with the value of the 'name' field of the 'category'
        object from the model map

    <div class="chip">category name</div>
    -->
    <div class="chip"> Property listings </div>
    <div class="row">
        <!--
            Repeat the div element for each object in the 'properties'
            collection of the model map. Each object in the loop
            should be named 'xxx'
        -->
        <div  th:each="homesFound: ${properties}" class="col s12 l4">
            <!--
                    In the a tag, make the href attribute point to
                    the GIF detail page using the 'name' field of
                    the 'gif' object from the loop above
             -->
            <a th:href="'/properties/' + ${homesFound.id}" th:text="${homesFound.price}"></a>
            <!--
                In the img tag, make the src attribute point
                to the static GIF image, according to the 'name'
                field of the 'gif' object from the loop above
            -->
            <img th:src="'/images/' + 'house5.webp'"/>
            <!--
                In the a tag, make the class attribute have the value
                of 'mark favorite' or 'unmark favorite' according to
                the 'favorite' field of the 'gif' object from the
                loop above
            -->
            <a href="#" class="mark favorite"></a>
            </a>
        </div>
    </div>
</div>

</body>
</html>